{% extends 'base.html.twig' %}
{% block title 'Ajoutez les matériel' %}
{% block body %}
    <div class ="jumbotron text-center">
        <h1>Gestion matériel</h1>
        <p>Ici vous pouvez ajouter vos matériels empruntés</p>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        <button class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
    </div>
    <div class="container">
        {% for message in app.flashes('sucess') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

{% endblock %}