{% extends 'base.html.twig' %}
{% block title 'Visualisez les matériel' %}
{% block body %}
    <div class ="jumbotron text-center">
        <h1>Gestion matériel</h1>
        <p>Ici vous pouvez retrouver vos matériels empruntés</p>
    </div>

{% endblock %}